.contactItem {
  height: 100px;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.contactItem > h3 {
  border-bottom: 1px solid black;
}
.contactItem > p {
  border-bottom: 1px solid black;
}
